.tableShadow {
  margin: 0 auto;
  box-shadow: 10px 17px 40px rgba(1, 1, 0, 0.15);
  background-color: #ffffff;
  border-radius: 0 0 3px 3px;
}

.table {
  width: 100%;
  text-align: center;
  border-collapse: collapse;
  font-size: 13px;
  font-family: var(--main-ff);
  font-weight: 300;
  margin-bottom: 30px;
}

.th,
.td {
  height: 72px;
  /* padding-left: */
}

.th {
  font-size: 15px;
  font-weight: bold;
  text-transform: capitalize;
}

.td:nth-child(5) {
  font-weight: normal;
}

.tableTopRow tr {
  background-color: #f3f6f6;
  text-transform: uppercase;
  font-weight: 500;
}

.tableRow:nth-child(even) {
  background-color: #f3f6f6;
}
