@media screen and (min-width: 320px) and (max-width: 768px) {
  .appName {
    display: none;
  }
}

@media screen and (min-width: 769px) {
  .appName {
    color: rgb(44, 53, 62);
    font-size: 20px;
  }
}
