.ChartWrapper {
  width: 265px;
  height: 265px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .ChartWrapper {
    width: 405px;
    height: 405px;
    display: flex;
    justify-content: space-around;
  }
}
@media screen and (min-width: 1280px) {
  .ChartWrapper {
    width: 410px;
    height: 410px;
  }
}
