:root {
  --main-white-color: rgb(255, 255, 255);
  --main-dark-color: rgb(44, 53, 62);
  --lightgrey-color: rgb(107, 125, 131);
  --mobile-header-darkgreen-color: rgb(62, 85, 67);
  --darkgreen-color: rgb(80, 109, 86);
  --middlegreen-color: rgb(97, 147, 97);
  --lightgreen-color: rgb(102, 150, 104);
  --bold-ff: 'Helvetica Bold', 'Arial', sans-serif;
  --main-ff: 'Helvetica', 'Arial', sans-serif;
  --modalbtn-hover-color: linear-gradient(
    0deg,
    rgb(236, 178, 42) 0%,
    rgba(255, 108, 0, 0.70196) 100%
  );
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

.navLink {
  width: 30px;
  height: 25px;
  border-radius: 6px;
  padding: 3px;
  background-color: var(--mobile-header-darkgreen-color);
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
  fill: rgba(255, 255, 255, 0.6);
}

.navLink__active {
  color: rgba(255, 255, 255, 1);
  fill: rgba(255, 255, 255, 1);
}

.icon {
  fill: inherit;
  display: block;
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 767px) {
  .wrap {
    background-color: var(--darkgreen-color);
    height: 40px;
  }

  .container {
    margin: 0 auto;
    width: 115px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

@media screen and (min-width: 768px) and (max-width: 1169px) {
  .wrap {
    background-color: var(--darkgreen-color);
    height: 40px;
  }

  .container {
    margin: 0 auto;
    width: 115px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
