.registerBlock {
  padding-top: 62px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  width: 275px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.registerForm {
  margin-bottom: 25px;
}
.logo {
  background-image: url(../../assets/icons/logo.svg);
  width: 50px;
  height: 50px;
  background-repeat: no-repeat;
}

.projectName {
  font-family: var(--main-ff);
  color: #2c353e;
  margin-bottom: 34px;
}

.warningText {
  margin-bottom: 10px;
  color: red;
  font-size: 12px;
}

.input {
  background-color: rgba(185, 201, 212, 0.5);
  border: none;
  width: 100%;
  border-radius: 5px;
  height: 48px;
  margin-bottom: 12px;
  padding-left: 20px;
}

.input::placeholder {
  font-family: var(--main-ff);
  font-size: 13px;
  line-height: 48px;
  padding-left: 38px;
  color: #b9c9d4;
  background-position-y: 12px;
  background-repeat: no-repeat;
  background-size: 24px;
}

.emailInput::placeholder {
  background-image: url(../../assets/icons/baseline-email-24px.svg);
}

.passwordInput::placeholder {
  background-image: url(../../assets/icons/baseline-lock-24px.svg);
}

.nameInput {
  margin-bottom: 25px;
}

.nameInput::placeholder {
  background-image: url(../../assets/icons/baseline-account_box-24px.svg);
}

.btnRegister {
  font-family: var(--main-ff);
  font-size: 15px;
  height: 48px;
  width: 100%;
  color: white;
  border-radius: 5px;
  outline: none;
  border: none;
  background: #619361;
  box-shadow: 3px 3px 0px 0px rgba(92, 135, 94, 0.2);
  transition: all ease-in-out 300ms;
}

.btnRegister:hover {
  background: linear-gradient(#ecb22a, #ff6c00);
  box-shadow: 3px 3px 0px 0px rgba(255, 108, 0, 0.2);
}

.btnRegister:disabled {
  background: linear-gradient(#c5c5c5, #141414);
  box-shadow: 3px 3px 0px 0px rgba(97, 97, 97, 0.2);
}

.loginLink {
  color: rgb(107, 125, 131);
  font-family: var(--main-ff);
  font-size: 12px;
  margin-bottom: 65px;
}

@media screen and (min-width: 768px) {
  .registerWrap {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-image: url(../../assets/images/bg-pic-for-login--min.jpg);
    background-position: right bottom;
    background-size: 200%;
  }

  .registerBlock {
    width: 550px;
    background-color: #fff;
    border-radius: 5px;
    filter: drop-shadow(10px 17.321px 20px rgba(107, 125, 131, 0.3));
    padding-top: 40px;
  }

  .title {
    font-family: var(--main-ff);
    font-size: 20px;
    letter-spacing: 1px;
    line-height: 30px;
    color: #282828;
    margin-bottom: 20px;
  }

  .loginLink {
    margin-bottom: 45px;
  }

  .container {
    width: 100%;
    padding: 0 50px;
  }

  .btnRegister {
    width: 100%;
  }

  .input {
    width: 100%;
    background-color: #f9fbfb;
  }
}

@media screen and (min-width: 1280px) {
  .pageWrap {
    display: flex;
    justify-content: space-between;
  }

  .registerWrap {
    background: none;
    position: relative;
  }

  .registerWrap::after {
    display: block;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.6;
    background-image: url('../../assets/images/registration-v4_03.png');
    background-size: cover;
    background-repeat: no-repeat;
  }

  .registerForm {
    width: 100%;
  }

  .leftSide {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .leftSide::before {
    content: '';
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 100%;
    filter: grayscale(80%)
      drop-shadow(-2.298px 1.928px 1.5px rgba(92, 135, 94, 0.2));
    background-image: url('../../assets/images/black.jpg'),
      url('../../assets/images/bg-pic-for-login--min.jpg');
    background-blend-mode: overlay;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .leftSide::after {
    content: '';
    position: absolute;
    right: 25px;
    width: 38%;
    height: 100%;
    background-image: url('../../assets/images/iphone.png');
    background-size: 100%;
    background-position: center right;
    background-repeat: no-repeat;
  }

  .appNameContainer {
    display: flex;
    padding-left: 30px;
  }

  .logo {
    height: 50px;
    width: 50px;
  }

  .icon {
    display: block;
    width: 50px;
    height: 50px;
    fill: #fff;
  }

  .projectName {
    line-height: 50px;
    font-size: 20px;
    letter-spacing: 1px;
    color: #fbfbfb;
    font-weight: 500;
  }

  .losung {
    font-family: var(--bold-ff);
    padding-left: 30px;
    color: #ffffff;
    font-size: 35px;
    letter-spacing: 1px;
    line-height: 45px;
    font-weight: 800;
    display: flex;
    flex-flow: column nowrap;
  }
}
