@import '../../css/fonts.css';
@import '../../css/helpers.css';

.desktopImage__container,
.bgImage__block,
.appDescription {
  display: none;
}
.logo {
  background-image: url(../../assets/svg/logo.svg);
  width: 64px;
  height: 64px;
  background-repeat: no-repeat;
  background-size: contain;
}
.registerBlock__container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
  background-image: url('../../assets/svg/waves-chart-bg.svg');
  background-size: 200%;
  background-repeat: no-repeat;
  background-position: bottom -100px left -190px;
}

.registerBlock,
.registerForm {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.registerForm {
  margin-bottom: 25px;
}

.projectName {
  font-family: var(--bold-ff);
  font-size: 16px;
  color: var(--main-dark-color);
  margin-bottom: 34px;
}

.emailInput,
.passwordInput,
.nameInput,
.btnRegister {
  background-color: rgba(185, 201, 212, 0.5);
  border: none;
  border-radius: 5px;
  height: 48px;
  width: 275px;
  outline: none;
  text-align: center;
}

.emailInput,
.passwordInput {
  margin-bottom: 12px;
}

.nameInput {
  margin-bottom: 25px;
}

.emailInput::placeholder,
.passwordInput::placeholder,
.nameInput::placeholder {
  font-family: var(--main-ff);
  font-size: 13px;
  line-height: 48px;
  text-align: left;
  padding-left: 58px;
  color: #b9c9d4;
  background-position-x: 21px;
  background-position-y: 12px;
  background-repeat: no-repeat;
  background-size: 24px;
}
.emailInput::placeholder {
  background-image: url(../../assets/authForm/baseline-email-24px.svg);
}

.passwordInput::placeholder {
  background-image: url(../../assets/authForm/baseline-lock-24px.svg);
}

.nameInput::placeholder {
  background-image: url(../../assets/authForm/baseline-account_box-24px.svg);
}

.warningText {
  margin: 0 0 10px 0;
  padding: 0;
  color: red;
  font-size: 12px;
}

.passwordProgressLine {
  height: 6px;
  width: 275px;
  background-color: green;
  border-radius: 5px;
  margin-bottom: 12px;
  margin-top: 13px;
}

.btnRegister {
  font-family: var(--bold-ff);
  font-size: 15px;
  color: white;
  border-radius: 5px;
  background: #619361;
  box-shadow: 3px 3px 0px 0px rgba(92, 135, 94, 0.2);
  transition: all ease-in-out 300ms;
}
.btnRegister:hover {
  background: linear-gradient(#ecb22a, #ff6c00);
  box-shadow: 3px 3px 0px 0px rgba(255, 108, 0, 0.2);
}

.btnRegister:disabled {
  background: linear-gradient(#c5c5c5, #141414);
  box-shadow: 3px 3px 0px 0px rgba(97, 97, 97, 0.2);
}

.loginLink {
  color: rgb(107, 125, 131);
  font-family: var(--main-ff);
  font-size: 12px;
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .main__container {
    height: 100vh;
    background-image: url(../../assets/background/bg-pic-for-login-.jpg);
    background-size: cover;
    background-position: 100% 0%;
  }

  .logo {
    display: none;
  }
  .registerBlock__container {
    background-image: none;
  }

  .registerBlock {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 550px;
    height: 540px;
    background-image: none;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }

  .projectName {
    font-size: 20px;
    margin-bottom: 25px;
  }

  .emailInput,
  .passwordInput,
  .nameInput,
  .btnRegister {
    height: 56px;
    min-width: 430px;
  }

  .emailInput,
  .passwordInput {
    margin-bottom: 14px;
  }

  .nameInput {
    margin-bottom: 25px;
  }

  .emailInput::placeholder,
  .passwordInput::placeholder,
  .nameInput::placeholder {
    font-size: 15px;
    line-height: 56px;
    background-size: 30px;
  }
  .emailInput::placeholder {
    background-image: url(../../assets/authForm/baseline-email-24px.svg);
  }

  .passwordInput::placeholder {
    background-image: url(../../assets/authForm/baseline-lock-24px.svg);
  }

  .nameInput::placeholder {
    background-image: url(../../assets/authForm/baseline-account_box-24px.svg);
  }

  .warningText {
    font-size: 14px;
  }

  .passwordProgressLine {
    height: 8px;
    width: 430px;
    margin-top: 0px;
  }

  .btnRegister {
    font-size: 20px;
  }
}
@media screen and (min-width: 1280px) {
  .main__container {
    height: 100vh;
    background-image: url(../../assets/background/bg.png);
    background-size: auto;
    display: flex;
  }

  .desktopImage__container {
    background-image: url(../../assets/background/bg-pic-for-login-.jpg);
    background-size: cover;
  }
  .desktopImage__container {
    display: block;
    position: relative;
  }

  .desktopImage__phone {
    position: absolute;
    right: 3vw;
    max-height: 80vh;
    top: 10vh;
  }

  .appDescription {
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    top: 45vh;
    left: 3vw;
    width: 270px;
    color: #fff;
    font-family: var(--bold-ff);
    font-size: 26px;
    line-height: 26px;
  }

  .appDescription__logo {
    display: flex;
    height: 64px;
  }

  .appDescription__logo span {
    font-family: var(--bold-ff);
    font-size: 20px;
    height: 64px;
    line-height: 64px;
  }

  .desktopImage__container,
  .registerBlock__container {
    flex-grow: 1;
    flex-basis: 0;
  }
  .logo {
    display: none;
  }
  .registerBlock__container {
    background-image: url('../../assets/svg/waves-chart-bg.svg');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: bottom -100px left 0px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .registerBlock {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 550px;
    height: 540px;
    background-image: none;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }

  .projectName {
    font-size: 20px;
    margin-bottom: 22px;
  }

  .emailInput,
  .passwordInput,
  .nameInput,
  .btnRegister {
    height: 56px;
    min-width: 430px;
  }

  .emailInput,
  .passwordInput {
    margin-bottom: 14px;
  }

  .nameInput {
    margin-bottom: 25px;
  }

  .emailInput::placeholder,
  .passwordInput::placeholder,
  .nameInput::placeholder {
    font-size: 15px;
    line-height: 56px;
    background-size: 30px;
  }
  .emailInput::placeholder {
    background-image: url(../../assets/authForm/baseline-email-24px.svg);
  }

  .passwordInput::placeholder {
    background-image: url(../../assets/authForm/baseline-lock-24px.svg);
  }

  .nameInput::placeholder {
    background-image: url(../../assets/authForm/baseline-account_box-24px.svg);
  }

  .warningText {
    font-size: 14px;
  }

  .passwordProgressLine {
    height: 8px;
    width: 430px;
    margin-top: 0px;
  }

  .btnRegister {
    font-size: 20px;
  }
}
