.UpdateChartBtn {
  margin: 0 auto 40px;
  display: block;
  width: 100%;
  padding: 10px 0;
  font: 15px/30px 'HelveticaNeueCyr Bold';
  color: #fff;
  background-color: #619361;
  box-shadow: 0px 3px 3px 0px rgba(255, 108, 0, 0.2);
  border-radius: 4px;
  border: none;
  outline: none;
  transition: background 0.2s linear;
}
.UpdateChartBtn:hover {
  background: linear-gradient(
    0deg,
    rgb(236, 178, 42) 0%,
    rgba(255, 108, 0, 0.70196) 100%
  );
}

@media screen and (min-width: 768px) {
  .UpdateChartBtn {
    width: 280px;
  }
}
